.thumbnail{
/*   -webkit-box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.5);*/
    display:inline;
}
#from_date,#to_date{
    cursor:pointer;
    background-color: white;
}