body{
    background-color: #3B3D49;
    color:#ffffff;
    font-family: 'Open Sans', sans-serif;
}
#wrapper{

}
#header{
    background-color:#203341;
    position:fixed;
    width:100%;
    -moz-box-shadow: -1px 0px 7px #000000;
    -webkit-box-shadow: -1px 0px 7px #000000;
    box-shadow: -1px 0px 7px #000000;
    z-index:1000;
}
#header-container{
    width:960px;
    margin:0 auto;
}
#logo{
    font-family: 'Alex Brush', cursive;
    width:240px;
    height:50px;
    float:left;
    line-height:50px;
    font-size:36px;
    padding:5px 24px;
}
.logo{
    font-family: 'Alex Brush', cursive;
    font-size:36px;
    display:block;
    padding:20px 0;
}
#logo a{
    text-decoration: none;
    color:#fff;
}
#menu{
    color:#ffffff;
}
#menu a{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:700;
    color:#88897b;
    text-decoration: none;
    padding:5px 18px;
    font-size:18px;
    display:inline-block;
    line-height:50px;
}
#menu a:hover{
    color:#ffffff;
}
#menu a:last-of-type{

}
#banner{
    background-image: url('../uploads/banner.jpg');
    background-size:cover;
    width:100%;
    height:600px;

}
#main-container{
    background-color:#F2F2F2;
    width:910px;
    margin:25px auto;
    color:#000000;
    padding:25px;
    -moz-box-shadow: 0px 0px 7px #000000;
    -webkit-box-shadow: 0px 0px 7px #000000;
    box-shadow: 0px 0px 7px #000000;
}
#footer{
    background-color:#203341;
    color:#a8a99b;
    font-size:13px;
}
#footer-container{
    width:960px;
    margin:0 auto;
}
.footer-block{
    width:190px;
    padding:25px;
    float:left;
}
#help a,#follow-us a, #admin-btn{
    text-decoration: none;
    color:#a8a99b;
}
#bottom{
    padding:0 25px;
}
#copyright{
    font-size:12px;
    padding:15px 0;
}
.clear{
    clear:both;
}
.center{
    text-align: center;
}
.bold{
    font-weight:bold;
}
body{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-size:24px;
    color:#000000;
    font-family: 'Open Sans', sans-serif;
}
h2{
    font-size:22px;
    color:#000000;
    font-family: 'Open Sans', sans-serif;
}
h3{
    font-size:20px;
    color:#000000;
    font-family: 'Open Sans', sans-serif;  
}
h4{
    font-size:18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;  
}
p,form{
    line-height: 24px;
}
strong{
    font-weight:bold;
}

#destination-header-slide{
    width:910px;
    height:600px;
}
#destination-detail-bg{
    position:absolute;
    width:910px;
    height:100px;
    //height:300px;
    background-color:#000;
    opacity: 0.8;
    margin-top:-110px;
}
#destination-detail{
    position:absolute;
    width:910px;
    height:100px;
    //height:300px;
    margin-top:-110px;
}
#destination-detail li{
    float:left;
    color: #fff;
    font-size: 18px;
    padding:25px;
}
#destination-detail p{
    font-family: 'Quicksand';
}

#destination-detail .ribbon-product{
    margin-top: -27px;
}
#name-and-code{
    width:455px;
}
#destination-detail .promotion{
    width:345px;
}
#duration,.price{
    text-align: center;
    border-left:3px solid #333;
}
#duration-text,#price-text{
    font-family: 'Quicksand';
    font-size: 12px;
    font-weight: 700;
}
#product-code{
    color:#aaa;
    font-size: 14px;
}
li#buy-button{
    vertical-align: middle;
    line-height: 100px;
    padding: 0px;
    padding-right: 20px;
}

#add-to-cart-btn{
    border: 1px solid #555;
    background: -webkit-gradient(linear, left top, left bottom, from(#3F7F2B), to(#1E401B));

}
#destination-detail a.update-to-cart-window{
    display:inline-block;
    width:102px;
}
#add-to-cart-btn a{
    color: #6DD04F;
}

#tabs{
    font-family: 'Open Sans', sans-serif;
}
#tabs .ui-state-active, 
#tabs .ui-widget-content .ui-state-active,
#tabs .ui-widget-header .ui-state-active{
background: rgb(252,252,252); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(242,242,242,1) 98%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(98%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(242,242,242,1) 98%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(242,242,242,1) 98%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(242,242,242,1) 98%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(242,242,242,1) 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

    border-top: 2px solid #a2a2a2;
    border-left: 2px solid #a2a2a2;
    border-right: 2px solid #a2a2a2;
}
#tabs .ui-widget-header .ui-state-active a{
    color: #203341;
}
#tabs .ui-state-default,
#tabs .ui-widget-content .ui-state-default
{
    background: #203341;
}
#cart-container{
    position:absolute;
    width:220px;
    margin-left:940px;
    margin-top:-24px;
    padding:27px 20px 20px 20px;
    background-color:#F2F2F2;
    font-size:12px;
}
.cart-destination-total{
    text-align: right;
    padding:5px 0 5px 0;
}
#cart-total{
    text-align: right;  
    font-size:12px;
    margin-bottom: 10px;
    margin-right:27px;
}
.error{
    display:none;
}
/*
.text-input-container .error{
    font-size:10px;
    float:left;
}
.text-input-container{
    float:left;
}*/
/* Newsletter */
#newsletter-container{
    font-size:14px;
    color:#fff;
    margin:10px 0;
    padding:10px 0
}
.newsletter-registration-form{
    text-align: center;
    padding:20px 20px 20px 20px;
    width:960px;
    margin:20px auto 0;
    height:40px;
    background-color:#152a3a;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.newsletter-registration-form .input-text{
    margin:0 10px 0 10px;
    width:400px;
}
/* Product */
a { 
    text-decoration:none; 

}
.btn-sign,.btn-add-to-cart,.btn-checkout,.btn-send-contact,
.btn-newsletter-sign-up, .btn-download-invoice, .btn-download-receipt{
    width:120px;
    margin:20px 0 20px 0;
    padding:10px;
    border-radius:5px;
    background: -moz-linear-gradient(center top, #00c6ff, #018eb6);
    background: -webkit-gradient(linear, left top, left bottom, from(#00c6ff), to(#018eb6));
    background:  -o-linear-gradient(top, #00c6ff, #018eb6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#00c6ff', EndColorStr='#018eb6');
    text-align:center;
    font-size:16px;
    color:#fff;
    text-transform:uppercase;
}
.btn-checkout{
    display:block;
    width:120px;
    margin:0 auto;
}
.btn-add-to-cart,.btn-newsletter-sign-up{
    width:140px;
    margin:0 auto;
}
.btn-sign a { color:#fff; text-shadow:0 1px 2px #161616; }
.delete-destination{
    font-weight: bold;
    color:red;
    margin-left:7px;
}
#mask {
    display: none;
    background: #000; 
    position: fixed; left: 0; top: 0; 
    z-index: 10;
    width: 100%; height: 100%;
    opacity: 0.9;
    z-index: 999;
}
.add-to-cart-form,.update-to-cart-form{
    padding:10px;
}
.add-to-cart-popup,.update-to-cart-popup{
    display:none;
    background: #ECECEC;	
    border: 1px solid #333;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000; /* Firefox */
    -webkit-box-shadow: 0px 0px 10px #000; /* Safari, Chrome */
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}
#travellers-list{
    max-height: 250px;
    width:600px;
    overflow:auto;
}
.add-traveller-note{
    font-size:12px;
    width:430px;
    margin:0 auto 10px;
}
img.btn_close {
    float: right; 
    margin: -28px -28px 0 0;
}
.button { 
    background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
    background:  -o-linear-gradient(top, #f3f3f3, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
    border-color:#000; 
    border-width:1px;
    border-radius:4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color:#333;
    cursor:pointer;
    display:inline-block;
    padding:6px 6px 4px;
    margin-top:10px;
    font:12px; 
    width:214px;
}

.button:hover { background:#ddd; }
.popup-header{
    background-color: #B0B0B0;
    padding:15px;
    font-family: 'Open Sans', sans-serif;
}
.input-text{
    display: inline-block;
    height: 22px;
    padding: 6px;
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 18px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.input-textarea{
    display: inline-block;
    height: 200px;
    width:900px;
    padding: 6px;
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 18px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.first-name, .last-name{
    width: 210px;
}
.age{
    width:50px;
}
.travel-date-label{
    font-size:14px;
    margin-left:10px;
}
.travel-date{
    text-align:center;
}

.round-button {
    margin:0 auto;
    width: 7%;
    height: 0;
    padding-bottom: 7%;
    border-radius: 50%;
    overflow: hidden;
    cursor:pointer;

}
.round-button img{
    display: block;
    width: 76%;
    padding: 12%;
    height: auto;
}

.delete-btn {
    display: inline-block;
    cursor:pointer;
}

/*Contact */
.contact-form{
    margin-top: 20px;
}
.contact-form label{
    width:180px;
    display:inline-block;
}
.contact-form .input-text{
    width:400px;
}
/*Payment form*/
.payment-form{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    width:530px;
    margin:0 auto;
}
.payment-form .input-text{
    width: 300px;
}
.payment-form .month-input,.payment-form .year-input,
.payment-form .cvc-input{
    width:50px;
}
.cvc-input{
    margin-right:62px;
}
.payment-form .phone-area-input{
    width:75px;
}
.payment-form .phone-number-input{
    width:210px;
}
.alert-danger{
    padding:10px;
    color: #D8000C;
    background-color: #FFBABA;
    margin-bottom:10px;
}
.alert-success{
    padding:10px;
    color: #4D773E;
    background-color: #D3FECC;
    margin-bottom:10px;
}
/*Overwrite*/
#destination-footer .ui-widget-content{
    background-color:#F2F2F2;
    border:none;
    background:none;
    color:#000000;
}
#destination-footer .ui-widget-header{
    border:none;
    border-bottom: 1px solid #d2d2d2;
    background:none;
}
// Alert
.newsletter-registration-form,.test{
    color:red;
    font-size:80px;
}

// Invoice container
#invoice-container{
    background-color:#F2F2F2;
}
.invoice-table td,.invoice-table th{
    line-height: 22px;
}
#invoice-container .invoice-table td.info{
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    line-height: 18px;
}
.invoice-table th{
    font-weight: 700;
    border-bottom: 1px solid #9A9A9A;
}
.invoice-summary{
    border-top: 1px solid #9A9A9A;
}
#items-container{
    width:960px;
    margin:0 auto;
}
//item card


.item-card .bg {
    /* border-bottom: 8px solid #5cc0ff; */
}
.item-card .data {
    margin-top: .6em;
    color: #81878b;
}
.item-card .data ul {
    padding: 0;
}
.item-card .data li {
    width: 32%;
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
    font-family: 'Lato';
    border-right: solid 1px #bdc3c7;
}
.item-card .data li:last-child {
    border: none;
}
.item-card .data li span {
    display: block;
    text-transform: uppercase;
    font-family: 'Quicksand';
    font-size: .5em;
    margin-top: .6em;
    font-weight: 700;
}
.item-card .desc {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 420px;
    height: 275px;
    padding: 10px;
    color: white;
    text-align: center;
    opacity: 0;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.item-card .desc h4 {
    font-family: "Lato";
    font-size: 1.2em;
    margin-bottom: .5em;
    margin-top:80px;
}
.item-card .desc p {
    font-size: .9em;
    font-family: 'Quicksand';
    line-height: 1.5em;
}
.item-card .follow{
    margin: 1.5em auto 0 auto;
    background-color: #2589cc;
    width: 150px;
    color: white;
    font-family: "Lato";
    text-align: center;
    padding: .5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}
.item-card .follow a{
    color: white;
}
.item-card .follow:hover {
    background-color: #167abd;
    cursor: pointer;
}
/*.discount-tag{
    position: absolute;
    margin-left: 280px;
    width: 200px;
    margin-top: -80px;
}*/
.discount-data{
    position:absolute;
    z-index: 5;
    -webkit-transform: rotate(320deg);
    -moz-transform: rotate(320deg);
    -o-transform: rotate(320deg);
    writing-mode: lr-tb;
    color:#fff;
    font-weight: bold;
    margin-top:-35px;
    margin-left:30px;
    font-size: 16px;
    text-align: left;
    font-family: Lato;
}




.ribbon {
    width: 272px;
    position: absolute;
    text-align: center;
    font-size: 16px!important;
    background: #d2ff52; /* Old browsers */
    background: -moz-linear-gradient(top,  #d2ff52 0%, #91e842 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ff52), color-stop(100%,#91e842)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d2ff52 0%,#91e842 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    margin-left: -15px;
    font-family: Lato;
    margin-top: -50px;
    -webkit-border-radius:   0 10px 10px 0;
    -moz-border-radius:  0 10px 10px 0;
    border-radius:  0 10px 10px 0;
}
/*.ribbon {
    width: 272px;
    position: absolute;
    text-align: center;
    font-size: 16px!important;
    background: #d2ff52;  Old browsers 
    background: -moz-linear-gradient(top,  #d2ff52 0%, #91e842 100%);  FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ff52), color-stop(100%,#91e842));  Chrome,Safari4+ 
    background: -webkit-linear-gradient(top,  #d2ff52 0%,#91e842 100%);  Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top,  #d2ff52 0%,#91e842 100%);  Opera 11.10+ 
    background: -ms-linear-gradient(top,  #d2ff52 0%,#91e842 100%);  IE10+ 
    background: linear-gradient(to bottom,  #d2ff52 0%,#91e842 100%);  W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 );  IE6-9 

    -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    margin-left: 185px;
    font-family: Lato;
    margin-top: -56px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius:  10px 0 0 10px;
    border-radius:  10px 0 0 10px;
}*/
.ribbon h1 {
    font-size: 18px!important;
    color: #415c2b;
    //text-shadow: #4d5a42 0 1px 0;
    margin: 0px;
    padding: 10px 20px;
    text-align: right;
}
.ribbon:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
    -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
    box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
}
.ribbon:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
    -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
    box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
}
.ribbon .ribbon-content:before {
    border-color: #171f10 transparent transparent transparent;
    position: absolute;
    display: block;
    border-style: solid;
    bottom: -1em;
    content: '';
}
/*.ribbon .ribbon-content:after {
    border-color: #171f10 transparent transparent transparent;
    position: absolute;
    display: block;
    border-style: solid;
    bottom: -1em;
    content: '';
}*/
.ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
}
.ribbon-stitches-left {
    margin-left: 2px;
    float: left;
    padding:5px 0;
    height: 30px;
    width: 3px;
    border-left: 1px dashed rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}
.ribbon-stitches-right {
    margin-right: 0;
    float: right;
    padding:5px 0;
    height: 30px;
    width: 3px;
    border-left: 1px dashed rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}
.ribbon-stitches-top {
    padding-left:10px;
    margin-top:2px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}
.ribbon-stitches-bottom {
    padding-left:10px;
    margin-bottom:2px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}
/* Reviews */
.reviews-container{
    margin-top:20px;
    padding:20px;
    background-color:#E7E7E7;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
hr{
    border-top:1px solid #d2d2d2;
}
.review p.review-metadata{
    font-size:12px;
    display:inline-block;
    color:#203341;
    font-weight:bold;
}
.review{
    margin-top:5px;
    margin-bottom:5px;
    padding:10px;
    background-color:#F2F2F2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.review p{
    font-size:14px;
}
.review-form-container{
    margin-top:20px;
}

/* select all */
.select-all-label{
    font-size:12px;
    margin-bottom: 5px;
    display:inline-block;
}